.login-banner {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px -2000px;
  background-color: $mainRed;

  p {
    text-align: center;
    max-width: 300px;
    color: white;
    font-size: 22px;
    margin: 5px 0 !important;

    @include atBig {
      max-width: 600px;
      font-size: 28px;
      margin: 15px 0 !important;
    }
  }
}
