.nav-wrapper {
  max-width: 900px;
  margin: 0 auto 20px;
  display: flex;
  gap: 10px;
  @include atBig {
    margin: 0 auto 30px;
  }
  button {
    font-size: 17px;
    font-weight: 600;
    padding: 0.5em 0.8em;
    transition: all 0.3s ease-in-out;
    border: 1px solid $mainBlue;
    box-shadow: 0 0 0 0 $mainBlue;
    &.selected {
      background-color: $lightBlue;
      color: $mainBlue;
    }
  }

  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 $mainBlue;
  }

  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 $mainBlue;
  }
}
