.scoreboard-wrapper {
  max-width: 600px;
  margin: 10px auto 80px;
  h2 {
    text-align: center;
    font-size: 35px;

    @include atBig {
      font-size: 50px;
    }
  }
  .my-score {
    max-width: 400px;
    margin: 20px auto;
    line-height: 130%;
    @include atBig {
      font-size: 28px;
    }
    font-size: 20px;
    color: $mainGray;
    text-align: center;
  }
  .retry {
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    size: 30px;
    align-items: center;
  }
  .score-table {
    color: $mainBlue;
    width: 100%;
    border-collapse: collapse;
    border: 4px solid $mainBlue;
    border-radius: 5px;
    box-shadow: 2px 2px $mainBlue;
  }

  .score-table th,
  .score-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .score-table th {
    background-color: $mainBlue;
    color: white;
  }

  .score-table tr:nth-child(even) {
    background-color: $lightBlue;
  }
}
