.find-number-wrapper {
  margin: auto;
  .start-wrapper {
    h1 {
      padding: 0 20px;
      text-align: center;
    }
    button {
      display: block;
      width: 300px;
      margin: 50px auto 100px;
    }
  }
  .select-level-wrapper {
    h1 {
      text-align: center;
    }
    .levels {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    button {
      width: 220px;
    }
  }

  .wrapper-number-game {
    margin: 10px auto 0px;
    padding: 20px 10px 10px;
    @include atBig {
      border: 4px solid $mainBlue;
      border-radius: 8px;
      box-shadow: 2px 2px $mainBlue;
      padding-bottom: 80px;
    }
    .game-header {
      @include atBig {
        padding: 0 20px;
      }
      line-height: 30px;
      color: $mainBlue;
      gap: 50px;
      font-size: 25px;
      font-weight: 500;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    .number {
      font-size: 95px;
      font-weight: 600;
      text-align: center;
      margin: 10px 20px;
      text-shadow: 4px 4px $lightBlue;
      z-index: 100;
      line-height: 100%;
      @include atBig {
        margin: 0 0 40px 0;
        font-size: 150px;
      }
    }
    .game-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      input[type='text'] {
        @include atBig {
          width: 500px;
          font-size: 25px;
        }
        width: 100%;
        font-size: 22px;
        height: 60px;
        padding: 10px;
        border: 4px solid $mainBlue;
        border-radius: 5px;
        box-shadow: 2px 2px $mainBlue;
      }
      .game-button {
        padding: 5px 30px;
        font-weight: 600;
        line-height: 40px;
        font-size: 35px;
      }
    }
    .skip {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainBlue;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .missed-numbers {
    max-width: 450px;
    background-color: $lightBlue;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px auto 20px;
    @include atBig {
      margin: 40px auto 20px;
    }
  }
}

// CONFETTI

$particles: 90;
$width: 400;
$height: 200;

// Array of colours to randomly populate the particle colours.
$colorsConfetti: $mainBlue, $lightBlue, #f0cd27, $mainRed;

// Get the random colour
@function random-color() {
  @return nth($colorsConfetti, random(4));
}

// Create the explosion...
$box-shadow: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow, calc(random($width) * 1 / 2) + px calc(random($height) / 1.2) + px #{random-color()};
}

.confetti {
  &::before {
    position: absolute;
    left: 20%;
    @include atBig {
      left: 40%;
    }

    content: '';
    width: 5px;
    height: 8px;
    animation: 1s explode ease-out 4 backwards, 1s gravity ease-in 4 backwards;
    // animation-delay: 0.5;
    // animation-duration: 1.25s;
  }
}

@keyframes explode {
  to {
    box-shadow: $box-shadow;
  }
}

@keyframes gravity {
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
