.find-preposition-wrapper {
  margin: auto;
  .select-level-wrapper {
    margin-top: 30px;
    h1 {
      text-align: center;
    }
    .levels {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    button {
      width: 220px;
    }
  }

  .wrapper-preposition-game {
    margin: 10px auto 0px;
    padding: 20px 0px 10px;
    @include atBig {
      border: 4px solid $mainBlue;
      border-radius: 8px;
      box-shadow: 2px 2px $mainBlue;
      padding-bottom: 80px;
    }
    .game-header {
      @include atBig {
        padding: 0 20px;
      }
      line-height: 30px;
      color: $mainBlue;
      gap: 50px;
      font-size: 25px;
      font-weight: 500;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    .preposition {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      margin: 60px 0px;
      text-shadow: 1px 1px $lightBlue;
      z-index: 100;
      line-height: 100%;
      @include atBig {
        margin: 60px 0 50px 0;
        font-size: 40px;
      }
    }
    .game-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .game-button {
        padding: 5px 22px;
        font-size: 26px;
        @include atBig {
          padding: 10px 22px;
          font-size: 26px;
        }
      }

      label {
        display: flex;
        margin: 5px;
        display: inline-block;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: $mainBlue;
        border: 2px solid $mainBlue;
        border-radius: 10px;
        box-shadow: 5px 5px 0px $lightBlue;
        transition: all 0.3s ease;
        cursor: pointer;
        @include atBig {
          padding: 20px;
          &:hover {
            background-color: #fff;
            color: $mainRed;
            border: 2px solid $mainBlue;
            box-shadow: 5px 5px 0px $mainBlue;
          }
        }

        &:active {
          background-color: #fcf414;
          box-shadow: none;
          transform: translateY(4px);
        }
      }
      input {
        position: absolute;
        opacity: 0;
      }
    }
    .skip {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainBlue;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .missed-prepositions {
    max-width: 450px;
    background-color: $lightBlue;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px auto 20px;
    @include atBig {
      margin: 40px auto 20px;
    }
  }
}
